.pro-section{
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-profile{
    display: flex;
    width: 55%;
    padding: 20px;
    /* justify-content: space-between; */
    margin-top: 30px;
    background-color: rgb(240, 250, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.pro-img{
    /* background-color: red; */
    width: 200px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    /* align-items:flex-start; */
    position: relative;
    
}
.pro-img img{
    
    width: 150px;
    border-radius: 50%;
}
.pro-img img:hover{
    cursor: pointer;
    filter: brightness(0.7);
}
.form{
    padding: 30px;
    margin: 10px auto;
    
}
.form input{
    margin: 5px 0;
    /* border: solid rgb(49, 163, 216); */
    /* border-width: 1px; */
    border: none;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    /* outline: none; */
    padding: 5px;
}
textarea{
   padding: 5px;
   border: none;
   border-radius: 5px;

   background-color: rgb(247, 247, 247);

}
input#submit{
    margin-top: 32px;
    padding: 8px 16px;
    font-weight: 600;
    /* align-self: center; */
    color: aliceblue;
    background-image: linear-gradient(to right,rgb(30, 186, 233),rgb(24, 130, 179));
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}
input#submit:hover{
    transform: scale(.9);
    transition: .5s;

}
input#upload{
    display: none;
}
label{
    height: fit-content;
}
@media (max-width: 799px) {
    .main-profile {
        
        width: 90%;
        flex-direction: column;
        }
        .pro-img img {
            width: 100px;
            border-radius: 50%;
        }
        .pro-img{
            margin: 0;
            width: 100px;
            /* background-color: red; */
            width: 100%;
        }
        .form {
            padding: 10px;
            margin: 0px auto;
        }
        textarea{
            width: 100%;
            background-color: white;

        }
        .form input{
            background-color: white;
        }
        
}